
#root {
    margin: 10px;
}
.App {
  text-align: center;
  height: 100%;
  width: 100%;
  color: #ddd;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(60, 1fr);
  grid-template-rows: repeat(60, 1fr);
  overflow: hidden;
}

.App > .Sidebar {
  grid-area: 1/27/60/end;
  border-radius: 5px;
  overflow: hidden;
}
.App > .ClusterView {
  grid-area: 1/1/60/27;
  border-radius: 5px;
  overflow: hidden;
}