.Sidebar {
    background-color: #111;
    position: relative;
}
.sidebar-content {
    height: 95%;
    width: 100%;
}
.variance-table {
}
.density-plots {
}
.density-plot {
}

.density_label {
transform: rotate(-90deg);
}

.Accordion-Title {
    font-size: 24px !important;
}

.Accordion-Content {
     height: 90% !important;
     position: relative !important;
      overflow-y: scroll !important;
}

.Accordion {
    position: relative !important;
    height: 100% !important;
    width: 100% !important;

}

.variance-table {
}

.cluster-sprite {
    float: left; 
    position: relative;
    width: 96px;
    height: 60px;
}

.sprites-wrapper {
    width: 295px;
    display: inline-block;
}

.cluster-intra-summary {
    position: "relative";
    float: left;
}

.Segment {
    height: 90%;
    position: relative;
    overflow-y: scroll;
}